nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  padding: 5px;
}

.nav{
  overflow: auto;
  width: 100%;
}

.home-title{
  margin-left: 300px;
  font-family:'Adobe Devanagari';
  font-weight: bold;
  font-size: 25px;
}

.main-content {
  margin-left: 240px;
  display: flex;
  justify-content: space-between;
}

.text-section {
  text-align: center;
  font-family:'Adobe Devanagari';
  margin-top: 120px;
  width: 500px; 
  height: 824px;
  flex: 1;
}

.text2{
  font-size: 18px;
}

.image-section {
  margin-top: 170px;
  width: 600px; 
  height: 824px;
  flex: 1;
}

.placeholder-image {
  margin-left: 50px;
  width: 300px; 
  height: 280px;
  background-color: #ccc;
}

.center {
  text-align: center;
}

.butten-start{
  width: 160px;
  background-color: rgb(3, 3, 3);
  color:white;
  font-weight: bold;
  font-size: 20px;
}

.nav.navbar-nav li a {
  color: rgb(62, 62, 62);
  font-family: 'Avenir Next';
  margin-left: 50px;
}

.App{
  background: radial-gradient(600px at right top, rgb(255, 240, 175), white); 
  overflow: auto;
  width: 100vw;
  
}

